// ========================================================= */
// Mixins
// ========================================================= */

@mixin button {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;

}

@mixin center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}