// ============================================= */
// Color Variables */
// ============================================= */


$font-color-primary: #777;
$color-primary: #51ddfc;
$secondary-color: #58e1c1;


// ============================================= */
// Button Color Variables */
// ============================================= */

$btn-color-default: #51ddfc;
$btn-color-error: #e4757a;
$btn-color-info: #927bc1;
$btn-color-success: #63cc82;
$btn-color-warning: #fd7856;


// ============================================= */
// Font Variables */
// ============================================= */

$font-stack-primary: 'Lato',
sans-serif;
$font-weight: ('regular': 300, 'bold': 700);

// ============================================= */
// Media Queries breakpoints */
// ============================================= */

$breakpoint: '(min-width: 768px)';